# Віртуальне середовище (найважливіше, воно важить багато)
.venv/
venv/
ENV/

# Налаштування IDE (службові файли IntelliJ IDEA)
.idea/
*.iml

# Тимчасові файли Python (кеш)
__pycache__/
*.py[cod]
*$py.class

# Дані та секрети (якщо в папці data будуть твої особисті дані)
data/
.env